/* Untuk Tablet */
@media screen and (max-width: 1000px) {
  nav {
		flex-direction: row-reverse;
	}

	nav .right {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgb(230, 226, 221);
		height: 80vh;
		width: 35%;
		transform: translateX(-100%);
		transition: all 0.5s;
	}

	nav .right.slide {
		transform: translateX(0);
	}

	.dropdown {
		border-bottom: 1px solid black;
	}

	.menu {
		background-color: tomato;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin-top: 10px;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		height: 20px;
		justify-content: space-between;
		margin-top: 20px;
		position: relative;
		left: 9px;
		bottom: 7px;
		z-index: 1;
	}

	.menu-toggle input {
		position: absolute;
		width: 40px;
		height: 30px;
		opacity: 0;
		left: -5px;
		top: -5px;
		cursor: pointer;
		z-index: 2;
	}

	.menu-toggle span {
		display: block;
		width: 28px;
		height: 3px;
		background-color: white;
		border-radius: 3px;
		transition: all 0.5s;
	}

	/* Hamburger Menu Animation */
	.menu-toggle span:nth-child(2) {
		transform-origin: 0 0;
	}

	.menu-toggle span:nth-child(4) {
		transform-origin: 0 100%;
	}

	.menu-toggle input:checked ~ span:nth-child(2) {
		background-color: red;
		transform: rotate(45deg) translate(-1px, -1px);
	}

	.menu-toggle input:checked ~ span:nth-child(4) {
		background-color: red;
		transform: rotate(-45deg) translate(-1px, 0);
	}

	.menu-toggle input:checked ~ span:nth-child(3) {
		opacity: 0;
		transform: rotate(-45deg) translate(-1px, 0);
	}
	/*Akhir header*/

  .lesson {
   width: 100%;
   margin-bottom: 50px;
 }
 
 .top-wrapper h1 {
   font-size: 32px;
 }
 
 .heading h2 {
   font-size: 20px;
 }
 .container-fluid.img .row-img {
  flex-direction: column;
  height: 1;
}

.container-fluid.img .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-fluid.img .col-img img {
  width: 65%;
}

.container-fluid.contact-us .col-item {
  padding: 0 20px;
}

.container-fluid.contact-us .row-items {
  flex-wrap: wrap;
}

.container-fluid.contact-form .row-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
}

.container-fluid.contact-form .col-title {
  position: relative;
  left: 20px;
}

.container-fluid.contact-form .h-envp {
  top: 5px;
  margin: 0;
}

.container-fluid.contact-form .col-form {
  width: 100%;
}

.container-fluid.contact-form .col-phone {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid.contact-form .row-btn-top {
  position: relative;
  margin: auto;
}
}

/* Untuk Smartphone */
@media screen and (max-width: 670px) {
  

.menu{
  margin-top:10px;
}

/*Akhir Header*/

  .lesson {
   width: 100%;
 }

 .btn {
   width: 100%;
 }
 
 .facebook {
   margin-bottom: 10px;
 }
 
 .top-wrapper {
   text-align: center;
 }

 
 /* Tambahkan CSS untuk menu-icon */
 .menu-icon{
   display:block;
 }
 
 .top-wrapper h1 {
   font-size: 24px;
   line-height: 36px;
 }
 
 .top-wrapper p {
   font-size: 14px;
   line-height: 20px;
 }

 .container-fluid.contact-form .row-form {
  margin: 0;
  padding: 15px;
 }

 footer {
  text-align: center;
}

 .main-footer{
   width: 100%;
   padding: 10px;
   margin: 0;
 }
 .tulisan{
   width: 80%;
 }
}
